<div id="div1" class="cls">Nav</div>
<div id="div2" class="cls">Banner One</div>
<div id="div3" class="cls">
  <!-- data binding : interpollation -->
  {{ title }}
  <!-- 
      for(let product of products){
      document.write(product)
  } 
-->

  <!-- Directive : angular's Att -> *ngFor="let product of products" -->
  <div
    *ngFor="let product of products"
    class="prod-card"
    [class.bg-color]="product.showClass"
  >
    <!-- class.classname = yes/no -->
    <p>Product ID: {{ product.prodId }}</p>
    <p [ngStyle]="{ color: product.isVeg ? 'green' : 'red' }">
      Product Name :{{ product.prodName }}
    </p>
    <p *ngIf="product.inStock > 0; else outOfStock">
      Product In Stock:{{ product.inStock }}
    </p>
    <ng-template #outOfStock>
      <p>Product Out Of Stock..!</p>
    </ng-template>

    <span [ngSwitch]="product.country">
      Country :
      <img
        *ngSwitchCase="'Australia'"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/23px-Flag_of_Australia.svg.png"
        width="24"
      />
      <img
        *ngSwitchCase="'Germany'"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png"
        width="24"
      />
      <img
        *ngSwitchCase="'India'"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png"
        width="24"
      />
      <img
        *ngSwitchDefault
        src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Japan.png"
        width="24"
      />
    </span>
  </div>
</div>
<div id="div4" class="cls">Banner Two</div>
<div id="div5" class="cls">Contact Us</div>
<div id="div6" class="cls">Banner Three</div>
<div id="div7" class="cls">Footer</div>
